@import url("https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Titillium+Web|Ubuntu");
.Title {
  font-size: 4 rem;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  color: #160208; }

.SubTitle {
  font-size: 3 rem;
  text-align: center;
  font-family: 'Libre Barcode 39 Text', cursive;
  color: #DAF7A6; }
