@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Titillium+Web|Ubuntu');

h1.Title {
  font-size: 4 rem;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

h2.SubTitle {
  font-size: 3 rem;
  text-align: center;
  font-family: 'Libre Barcode 39 Text', cursive;
}
